<!DOCTYPE html>
<%- include h1.html %>  
<ul>
请输入ServerTag：
<li><input id="servertag2" type="text" class="form-control "  name="servertag1" placeholder="ServerTag" ></li>
<li><input id="hostname2" type="text" class="form-control "  name="hostname1" placeholder="Hostname" value="<%=l1.hostname %>" >
<input id="ip2" type="text" class="form-control "  name="ip1" placeholder="内网IP" >
<input id="project2" type="text" class="form-control "  name="project1" placeholder="所属项目" >
<input id="gip2" type="text" class="form-control "  name="gip1" placeholder="外网Ip" >
<input id="loip2" type="text" class="form-control "  name="loip1" placeholder="管理Ip" >
<input id="asset2" type="text" class="form-control "  name="asset1" placeholder="资产编号" >
<input id="cabinet2" type="text" class="form-control "  name="cabinet1" placeholder="机柜编号" >
<input id="memory2" type="text" class="form-control "  name="memory" placeholder="内存大小" >
<input id="disk2" type="text" class="form-control "  name="disk" placeholder="硬盘大小" >
<input id="cpu2" type="text" class="form-control "  name="cpu" placeholder="CPU" >
</li>


</ul>
<script language="javascript">
</script>
<%- include footer.html %>
