<!DOCTYPE html>
<!--


                                         
                                   .. .vr       
                                 qBMBBBMBMY     
                                8BBBBBOBMBMv    
                              iMBMM5vOY:BMBBv        
              .r,             OBM;   .: rBBBBBY     
              vUL             7BB   .;7. LBMMBBM.   
             .@Wwz.           :uvir .i:.iLMOMOBM..  
              vv::r;             iY. ...rv,@arqiao. 
               Li. i:             v:.::::7vOBBMBL.. 
               ,i7: vSUi,         :M7.:.,:u08OP. .  
                 .N2k5u1ju7,..     BMGiiL7   ,i,i.  
                  :rLjFYjvjLY7r::.  ;v  vr... rE8q;.:,, 
                 751jSLXPFu5uU@guohezou.,1vjY2E8@Yizero.    
                 BB:FMu rkM8Eq0PFjF15FZ0Xu15F25uuLuu25Gi.   
               ivSvvXL    :v58ZOGZXF2UUkFSFkU1u125uUJUUZ,   
             :@kevensun.      ,iY20GOXSUXkSuS2F5XXkUX5SEv.  
         .:i0BMBMBBOOBMUi;,        ,;8PkFP5NkPXkFqPEqqkZu.  
       .rqMqBBMOMMBMBBBM .           @kexianli.S11kFSU5q5   
     .7BBOi1L1MM8BBBOMBB..,          8kqS52XkkU1Uqkk1kUEJ   
     .;MBZ;iiMBMBMMOBBBu ,           1OkS1F1X5kPP112F51kU   
       .rPY  OMBMBBBMBB2 ,.          rME5SSSFk1XPqFNkSUPZ,.
              ;;JuBML::r:.:.,,        SZPX0SXSP5kXGNP15UBr.
                  L,    :@huhao.      :MNZqNXqSqXk2E0PSXPE .
              viLBX.,,v8Bj. i:r7:,     2Zkqq0XXSNN0NOXXSXOU 
            :r2. rMBGBMGi .7Y, 1i::i   vO0PMNNSXXEqP@Secbone.
            .i1r. .jkY,    vE. iY....  20Fq0q5X5F1S2F22uuv1M; 






-->
<html>
  <head>
  
    <title>infra CMDB</title>


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link href="stylesheets/signin.css" rel="stylesheet">
<link href="stylesheets/mystyle.css" media="screen" rel="stylesheet" type="text/css" />

<link href="stylesheets/chosen.css" rel="stylesheet" type='text/css' media='all' />
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="javascripts/bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="javascripts/chosen.jquery.js"></script>


        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
<style type='text/css'>

#main{
	background-color:white	
}
#zhou1{
padding-top: 0;
}
#head1{
padding:0 auto;
margin:0 auto;
}
      li#head{
  	   display:inline;
  	    float:left;
	margin:0 auto ;
	   }
      li#head2{
           display:inline;
            float:right;
        margin:0 auto ;
           }
    </style>

  </head>

  <body >
    


<!--<div class='navbar navbar-inverse' >-->
<div class="container">
<div id="navbar-wrapper" style="padding:0">
<div  id="navigation" class="navbar navbar-default navbar-fixed-top">
<div class="container">
		<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="/show">Infra <span class='green'>CMDB</span></a>
	</div>
 <div class="navbar-collapse collapse">

    <ul id="head1" class="nav navbar-nav" >
      <li id="head" class="active"><a href="/show">Home</a></li>
      <li id="head"><a href="/search">查询</a></li>
      <li id="head"><a href="/add">新增</a></li>
<li>
<a href="#cgitem" data-toggle="modal">修改</a>
</li>
      <li id="head" ><a id="tiwen" href="#myModal"     data-toggle="modal" data-target="#myModal" >提问</a></li>


          <li  class="dropdown">
            <a href="#" class="dropdown-toggle" data-hover="dropdown">友情链接<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://zabbix.mbgadev.cn/" target="_blank">Zabbix</a></li>
<li><a href="http://ope.mobage.cn/" target="_blank">Ope</a></li>
<li><a href="http://system.denachina.com/food/" target="_blank">加班餐系统</a></li>
            </ul>
          </li>
     </ul>
  <ul class="nav navbar-nav navbar-right">
          <% if(user){%>
	  <li id="head2"><a href="/loginout">退出</a></li>
<li id="head2" ><a href="#cgpasswd" data-toggle="modal">修改密码</a></li>
          <li id="news" style="display:none;"><a href="#talkBox" data-toggle="modal"><i class="icon-envelope icon-white"></i></a></li>
          <% }%>
  <% if(user){%>
  <li id="head2"><a href="/show"><div align="center"><%= user.name%></div></a></li>
    <% }%>


  </ul>
  </div>
  </div></div>
  </div></div>
<!--</div>-->	

<!-- 提问 -->
    <div id="myModal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">提问框</h3>
  </div>
  <div class="modal-body">
    <p><input type="text" placeholder="标题" name="title" id="askTitle"></p>
    <textarea name="askText" rows="13" placeholder="正文" style="width:400px" id="askText"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="closeAsk">关闭</button>
    <button class="btn" id="askPost">提问</button>
  </div>
</div>
</div>
</div>

<!-- <form id="passwd" action="/cgpasswd" method="post" class="form-signin" role="form">
<fieldset>-->
<div id="cgpasswd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
 <h3 id="cgpasswdLabel">修改密码</h3>
</div>
<div class="modal-body">
<ul>
<li><input id="pd1" type="password" class="form-control "  name="newpd" placeholder="新密码" required></li>
<li><input id="pd2" type="password" class="form-control "  name="renewpassword" placeholder="请再次输入新密码" required></li>
</ul>
</div>
<div class="modal-footer">


<button class="btn" data-dismiss="modal" aria-hidden="true" id="closepasswd">关闭</button>
<button id="xiugai" class="btn" type="submit" >修改</button>
</div>
</div>
</div>
</div>
<!--</fieldset>
</form>-->

<div id="cgitem" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
 <h3 id="cgitemdLabel">修改信息界面</h3>
</div>
<div class="modal-body">
<ul>
请输入ServerTag：
<li><input id="servertag1" type="text" class="form-control "  name="servertag1" placeholder="ServerTag" ></li>
<button id="queren" class="btn" type="submit" >查询</button>
<li>
Hostname:<br><input id="hostname1" type="text" class="form-control"  name="hostname1" placeholder="Hostname"  >
<br>
内网Ip: <br> <input id="ip1" type="text" class="form-control"  name="ip1" placeholder="内网IP" >
<br>
所属项目:<br><input id="project1" type="text" class="form-control "  name="project1" placeholder="所属项目" >
<br>
外网Ip: <br> <input id="gip1" type="text" class="form-control "  name="gip1" placeholder="外网Ip" >

<br>
管理Ip: <br> <input id="loip1" type="text" class="form-control "  name="loip1" placeholder="管理Ip" >

<br>
资产编号:<br><input id="asset1" type="text" class="form-control "  name="asset1" placeholder="资产编号" >
<br>
机柜编号:<br><input id="cabinet1" type="text" class="form-control "  name="cabinet1" placeholder="机柜编号" >
<br>
内存大小:<br><input id="memory1" type="text" class="form-control "  name="memory" placeholder="内存大小" >
<br>
硬盘大小:<br><input id="disk1" type="text" class="form-control "  name="disk" placeholder="硬盘大小" >
<br>
CPU: <br>    <input id="cpu1" type="text" class="form-control "  name="cpu" placeholder="CPU" >
</li>
</ul>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true" id="closeitem">关闭</button>
<button id="cgitempost" class="btn" type="submit" >更改</button>
</div>
</div>
</div>
</div>
</div>
</div>
<script language="javascript">


$("#askPost").on("click",function(){
 $.post("ask", { title: $("#askTitle").val(), askText: $("#askText").val() },function(data) {
    if(data.status==1){
      $("#closeAsk").click();
	$.get("show") ;   
}

  });
});
var servertag3=0;
var hostname3;
var project3;
var ip3;
var gip3;
var loip3;
var asset3;
var cabinet3;
var cpu3;
var disk3;
var memory3;


$("#queren").on("click",function(){
if($("#servertag1").val().toString()==""){
alert("请输入ServerTag");
}
else{
var a=$("#servertag1").val().toString();
$.ajax({
type:'POST',
async:false,
url:'findbyservertag',
data:"servertag="+a,
success:function(re){
servertag3=re.servertag
hostname3=re.hostname
project3=re.project
ip3=re.ip
gip3=re.gip
loip3=re.loip
asset3=re.asset
cabinet3=re.cabinet
disk3=re.disk
cpu3=re.cpu
memory3=re.memory
}
})

document.getElementById("hostname1").value=hostname3
document.getElementById("project1").value=project3
document.getElementById("ip1").value=ip3
document.getElementById("gip1").value=gip3
document.getElementById("loip1").value=loip3
document.getElementById("asset1").value=asset3
document.getElementById("cabinet1").value=cabinet3
document.getElementById("disk1").value=disk3
document.getElementById("cpu1").value=cpu3
document.getElementById("memory1").value=memory3
}
});

$("#xiugai").on("click",function(){
var $pw2 = $("#pd1").val().toString();
var $pw3 = $("#pd2").val().toString();
if ($pw2=="" || $pw3=="")
{
alert("请确认均有输入");
}
else if($pw2==$pw3){
$.post("/cgpasswd",{newpd:$pw2,renewpassword:$pw3},function(result){
if(result.status==0){
alert("修改失败");
}
else if (result.status==1){
alert("修改成功");
$.get("/out");
window.location.href="/loginout";
}
})
}
else if($pw2 != $pw3){
alert("两次密码输入不一致！");
//window.history.back(-1);
}
})

$("#cgitempost").on("click",function(){
var $hostname1 = $("#hostname1").val().toString();
var $project1 = $("#project1").val().toString();
var $ip1 = $("#ip1").val().toString();
var $gip1 = $("#gip1").val().toString();
var $loip1 = $("#loip1").val().toString();
var $cabinet1 = $("#cabinet1").val().toString();
var $servertag1 = $("#servertag1").val().toString();
var $asset1 = $("#asset1").val().toString();
var $memory1 = $("#memory").val().toString();
var $disk1 = $("#disk").val().toString();
var $cpu1 = $("#cpu").val().toString();
if($servertag1==""){
alert("请输入ServerTag");
}
else if ($hostname1==""){
alert("请输入hostname");
}
else if($ip1==""){
alert("请输入内网ip")
}
else if($loip1==""){
alert("请输入Loip")
}
else{
$.post("/cgitem",{hostname:$hostname1,project:$project1,ip:$ip1,gip:$gip1,loip:$loip1,cabinet:$cabinet1,servertag:$servertag1,asset:$asset1,memory:$memory1,disk:$disk1,cpu:$cpu1},function(result){
if(result.status==9){
alert("不存在该ServerTag,请确认！");
}
else if(result.status==0){
alert("修改成功");
  $("#closeitem").click();
}
})
}
})

</script>
<div id="main" class=container>



