<!DOCTYPE html>
<%- include h3.html %>
</div>
<div class="zhou1">
<div class="box" style="margin:0">	
<div class="box-header">
查询资产信息
</div>
<div class="inner">
        <meta charset="utf-8">
        <title>bootstrap datatable demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
	<link rel="stylesheet" type="text/css" href="stylesheets/dataTables.tableTools.css">        
        <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap-responsiv.css">

        <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstra.css">
	


	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstra.css">

 
        			<table class="table table-striped table-bordered table-hover datatable"  > 
<thead>
	 <tr class=" label-primary">  
                <th scope="col" width="12.5%" >Hostname</th>  
                <th scope="col">所属项目</th>  
        <th scope="col">内网IP</th>   
	<th scope="col">外网IP</th>
	<th scope="col">管理IP</th>
	<th scope="col">资产编号</th>
	<th scope="col">机柜编号</th>
<th scope="col">硬盘大小</th>
<th scope="col">CPU</th>
<th scope="col">内存大小</th>
	<th scope="col">ServerTag</th>

	 </tr>  
</thead>
<tbody>
 <% lists.forEach(function(list, index){ %>
            <tr >
                <td><%= list.hostname %></td>
                <td><%= list.project %></td>
                <td><%= list.ip %></td>
                <td><%= list.gip %></td>
                <td><%= list.loip %></td>
                <td><%= list.asset %></td>
                <td><%= list.cabinet %></td>
               <td><%= list.disk %></td>
		<td><%= list.cpu %></td>
		<td><%= list.memory %></td>
		 <td><%= list.servertag %></td>
		
            </tr>



       <% }) %>

</tbody>
        </table>  
</div>
</div>
</div>
                <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/jquery.dataTables.js"></script>
        <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="javascripts/dataTables.tableTools.js" charset="utf-8"></script>
<script language="javascript">


$(document).ready( function () {
$('.datatable').dataTable( {
    "sDom": 'T<"clear">lfrtip',
 "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
 "sPaginationType": "bootstrap",
//        "bJQueryUI": true,
       "sPaginationType": "two_button",
 "oTableTools": {
//"sSwfPath": "/swf/copy_csv_xls_pdf.swf"
   "aButtons": [

                "copy",
		"print",
                {
                    "sExtends":    "collection",
                    "sButtonText": "Save",
                    "aButtons":    [  "xls", "pdf" ]
                }
            ]  

}
    } );
} );



</script>


<%- include footer.html %>
