<!DOCTYPE html>
<%- include h3.html %>  
</div>    
<div class="zhou1">
<div id="myCarousel" class="carousel slide zhou1" style="width:100%;height:400px">
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
	<li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
      <div class="carousel-inner">
        <div class="item active" style="width:1380px; height:400px">
          <img src="images/t1.jpg" alt="">
        </div>
        <div class="item" style="width:1380px; height:400px">
          <img src="images/t2.jpg" alt="">
        </div>
        <div class="item" style="width:1380px; height:400px" >
          <img src="images/t3.jpg" alt="">
        </div>
   <div class="item" style="width:1380px; height:400px" >
          <img src="images/t4.jpg" alt="">
        </div>
   <div class="item" style="width:1380px; height:400px" >
          <img src="images/t5.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> 


    </div>
</div>
<br>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <h2 class="page-header"><b> Never lose yourself</b></h2>
          <p>If U had one shot one opportunity,to seize everything U ever wanted.One moment,Would U capture it? Or just let it slip. </p>
    <!--      <p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div>
        <div class="col-xs-4">
          <h2 class="page-header"><b>Remember U r beautiful</b></h2>
          <p>  Don't let them say you ain't beautiful.
　　They can all get fucked, just stay true to you.</p>
<!--          <p><a class="btn" href="#">View details &raquo;</a></p>-->
       </div>
        <div class="col-xs-4">
          <h2 class="page-header"><b>Monster behind U</b></h2>
          <p>Now I ain't much of a poet.
But I know somebody once told me to seize the moment.
And don't squander it.
Cause you never know when it could all be over.</p>
<!--          <p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Edison chou 2014</p>
      </footer>

    </div>
<%- include footer.html %>
